.buttonGroup {
  background: var(--button-group-bg-color);
  border-radius: 8px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 1rem;
  transition: background 0.5s;
  will-change: background;
}

.button {
  display: inline-block;
  background: none;
  border: 0;
  width: 50%;
  height: 2rem;
  line-height: 2rem;
  padding: 0 1rem;
  text-decoration: none;
  text-align: center;
  transition: all 0.5s;
  color: var(--button-group-text-color);
  outline: none;
  cursor: pointer;
  
  &.isActive,
  &:hover {
    background: var(--button-group-active-bg-color);
    color: var(--button-group-active-text-color)
  }
}
